<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= title %> | The Blacklist</title>
  <meta name="description" content="HTMX, Express, & Firestore">            
  <link rel="icon" href="/assets/favicon.ico">
  <link rel="stylesheet" href="/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Global Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.7/dist/htmx.js" integrity="sha384-yWakaGAFicqusuwOYEmoRjLNOC+6OFsdmwC2lbGQaRELtuVEqNzt11c2J711DeCZ" crossorigin="anonymous"></script>
  <% if (typeof includeChartJS !== 'undefined' && includeChartJS) { %>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.js"></script>
  <% } %>
  <script src="/js/string-schema.js"></script>
  <script src="/js/demo-manager.js"></script>
  <script src="/js/quota-message-helper.js"></script>
  <script src="/js/item-renderer.js"></script>
</head>
