#dataList {
    width: fit-content;
    display: block;
    column-count: 4;
    column-gap: 10px; 
}

.list-item {
    white-space: nowrap;
    display: block;
    margin-bottom: 10px; 
    break-inside: avoid-column;
}

.guide {
    color: red;
    font-weight: 800;
    display: inline;
}

.item-redacted {
    background-color: black;
    width: calc(100% - 50px);
    display: inline-block;
    margin-left: 5px;
    min-height: 20px;
    vertical-align: top;
}

.dash {
    padding: 0 5px;
}

.status {
    text-transform: uppercase;
}